{% extends 'base.html.twig' %}

{% block title %}Page de contact{% endblock %}

{% block body %}
	<div class="container-fluid mt--6">
		<div class="row">
			<div class="col-xl-8 order-xl-1">
				<div class="card">
					<div class="card-header">
						<h1 class="card-title">Contactez-nous</h1>
					</div>
					<div class="card-body">
						{{ form_start(form) }}
						<div class="row">
							<div class="col-md-6">
								{{ form_row(form.firstName, {'attr': {'class': 'form-control-alternative', 'placeholder': 'Prénom *'}}) }}
							</div>
							<div class="col-md-6">
								{{ form_row(form.lastName, {'attr': {'class': 'form-control-alternative', 'placeholder': 'Nom *'}}) }}
							</div>
						</div>
						{{ form_row(form.company, {'attr': {'class': 'form-control-alternative', 'placeholder': 'Entreprise'}}) }}
						{{ form_row(form.email, {'attr': {'class': 'form-control-alternative', 'placeholder': 'Email *'}}) }}
						{{ form_row(form.message, {'attr': {'class': 'form-control-alternative', 'rows': '6', 'placeholder': 'Message'}}) }}
						<div class="text-center">
							<button type="submit" class="btn btn-primary my-4">{{ form_label(form.submit) }}</button>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
		</div>
		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ type }}">
					{{ message }}
				</div>
				<script>
					setTimeout(function() {
						let alert = document.querySelector('.alert');
						alert.style.display = 'none';
					}, 10000);
				</script>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}

