<!-- Navbar Dark -->
{# <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur">
  <div class="container-fluid py-1 px-3">
    <a class="navbar-brand text-white" href="{{ path('app_homepage')}}" rel="tooltip" title="Design by Ludo" data-placement="bottom" target="_blank">
      Argon Dashboard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <div class="row">
          <div class="col-auto m-auto">
            <a class="text-white cursor-pointer">
              <i class="fa fa-cog fixed-plugin-button-nav"></i>
            </a>
          </div>
          <div class="col-auto m-auto">
            <div class="dropdown">
              <a class="text-white cursor-pointer" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
                ...
              </ul>
            </div>
          </div>
          <div class="col-auto">
            <div class="bg-white border-radius-lg d-flex me-2">
              <input type="text" class="form-control border-0 ps-3" placeholder="Type here...">
              <button class="btn bg-gradient-primary my-1 me-1">Search</button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav> #}
<!-- End Navbar -->

	<nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur"> <div class="container-fluid py-1 px-3">
		<a class="navbar-brand text-white" href="{{ path('app_homepage')}}" rel="tooltip" title="Design by Ludo" data-placement="bottom" target="_blank">
			Argon Dashboard
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation" style="display: flex; justify-content: center; align-items: center;">
			<span class="navbar-toggler-icon">
				<i class="fa-solid fa-bars"></i>
			</span>
		</button>

		<div class="collapse navbar-collapse" id="navigation">
			<ul class="navbar-nav navbar-nav-hover ms-auto">
				<div class="row">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<div class="col-auto m-auto">
							<div class="dropdown">
								<a class="text-white cursor-pointer" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fa fa-cog fixed-plugin-button-nav"></i>
								</a>
								<ul class="dropdown-menu dropdown-menu-right px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
									<li>
										<a class="dropdown-item" href="{{ path('app_user_index') }}">Profile</a>
									</li>
									<li>
										<a class="dropdown-item" href="">Edit Profile</a>
									</li>
									<li>
										<a class="dropdown-item" href="">Help</a>
									</li>
									<li>
										<a class="dropdown-item" href="{{ path('app_event_index') }}">Events</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-auto m-auto">
							<a class="text-white cursor-pointer" href="{{ path('app_logout') }}">
								<i class="fa fa-user"></i>
								Logout
							</a>
						</div>
					{% else %}
						<div class="col-auto m-auto">
							<a class="text-white cursor-pointer" href="{{ path('app_register') }}">
								<i class="fa fa-user"></i>
								Sign up
							</a>
						</div>
					{% endif %}
					<div class="col-auto m-auto">
						<div class="dropdown">
							<a class="text-white cursor-pointer" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-bell"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-right px-2 py-3 ms-n4" aria-labelledby="dropdownMenuButton">
								...
							</ul>
						</div>
					</div>
					<div class="col-auto">
						<div class="bg-white border-radius-lg d-flex me-2">
							<input type="text" class="form-control border-0 ps-3" placeholder="Type here...">
							<button class="btn bg-gradient-primary my-1 me-1">Search</button>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</div>
</nav>

